{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load static %}
{% load helpers %}

{% block mainContent %}
<div class="col-md-offset-2 col-md-6">
    <h4 class="text-left">Paramètres avancés</h4>
        {% if user|plan == "basic" %}
        <div class="row well col-md-11 margin-top-little">
            <div class="col-md-8">
                Pour être visible sur le site et entrer en contact avec les autres utilisateurs, devenez membre Premium.
            </div>
            <div class="col-md-2">
                <a href="{% url 'premium' %}" class="btn btn-color btn-green-min" onclick="visible()">
                    <i class="glyphicon glyphicon-thumbs-up"></i> Devenir premium
                </a>
            </div>
        </div>
        {% endif %}
        <div class="row col-md-11">
            <form action="{% url 'advanced' %}" method="post" class="form form-horizontal margin-bottom-med">
                {% csrf_token %}
                <h2><span class="glyphicon glyphicon-eye-open"></span> Gérer ma visibilité</h2>
                {% bootstrap_field form.visibility_family %}
                {% bootstrap_field form.visibility_prestataire %}
                {% bootstrap_field form.visibility_global %}
                <div class="form-group">
                    <i>"Etre visible" permet d'apparaître dans les résultats de recherche des autres utilisateurs.</i></br>
                    <p>Afin d'assurer la pertinence de résultats de vos recherches, les profils doivent être complétés au moins à 30% pour pouvoir être visibles. Pensez donc à compléter le votre.</p>
                </div>
                <h2><span class="glyphicon glyphicon-envelope"></span> Newsletter</h2>
                {% bootstrap_field form.newsletter %}
                {% buttons %}
                    <button type="submit" class="btn btn-color btn-green-min">Valider</button>
                {% endbuttons %}

                <h2>Informations sensibles</h2>
                {% if not form.instance.is_social %}
                <div class="form-group col-md-8">
                    <a href="{% url 'password_change' %}" class="form-control btn btn-color btn-blue-min">
                        <i class="glyphicon glyphicon-pencil"></i> Changer mon mot de passe
                    </a>
                </div>
                {% endif %}
                <div class="form-group col-md-8">
                    <a data-toggle="modal"
                       data-target="#accountDeletion"
                       class="btn btn-color btn-red-min pull-right form-control">
                        <i class="glyphicon glyphicon-trash"></i> Supprimer mon compte
                    </a>
                </div>
            </form>
        </div>
    </article>
</div>
<!-- Conformation modal for account deletion -->
<div class="modal fade" id="accountDeletion" tabindex="-1" role="dialog" aria-labelledby="account-deletion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="account-deletion">Souhaitez vous réellement supprimer votre compte ?</h4>
            </div>
            <div class="modal-body">
                ATTENTION : La suppression de votre compte effacera toutes vos données personnelles.<br>
                Cependant, pour les membres Premium, conformément aux <a>CGU</a>, la suppression du compte ne vous désengage pas de votre abonnement.<br><br>
                Nous vous conseillons de priviligier la gestion de la visibilité.<br>
                En cas de question, n'hésitez pas à nous contacter, une équipe est là pour vous répondre.
            </div>
            <div class="modal-footer">
                <a href="#" data-toggle="modal" data-target="#contactModal" class="btn btn-color btn-blue-min pull-left">
                    <span class="glyphicon glyphicon-send"></span> Contacter
                </a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a href="{% url 'delete_account'%}" class="btn btn-color btn-red-min">Confirmer</a>
            </div>
        </div>
    </div>
</div>
<form>

{% endblock %}

{% block extraScript %}
<script src="{% static "js/build/advanced.js" %}"></script>
{% endblock %}
