{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block mainContent %}
<div class="col-md-offset-2 col-md-6">
    <h4 class="text-left">Paramètres avancés</h4>
        <form action="{% url 'advanced' %}" method="post" class="form form-horizontal margin-bottom-med">
            {% csrf_token %}
            <h2><span class="glyphicon glyphicon-eye-open"></span> Gérer ma visibilité</h2>
            {% bootstrap_field form.visibility_family %}
            {% bootstrap_field form.visibility_prestataire %}
            {% bootstrap_field form.visibility_global %}
            <div class="form-group">
                <i>"Ne pas être visible" signifie ne pas apparaître dans les résultats de recherche.</i>
            </div>
            <h2><span class="glyphicon glyphicon-envelope"></span> Newsletter</h2>
            {% bootstrap_field form.newsletter %}
            <h2>Informations sensibles</h2>
            <div class="form-group margin-bottom-little">
                <a href="{% url 'password_change' %}" class="btn btn-color btn-orange-min">
                    <i class="glyphicon glyphicon-pencil"></i> Changer mon mot de passe
                </a>
            </div>
            {% buttons %}
                <button type="submit" class="btn btn-color btn-green-min">Valider</button>
                <a data-toggle="modal" data-target="#accountDeletion" class="btn btn-color btn-red-min pull-right">
                    <i class="glyphicon glyphicon-trash"></i> Supprimer mon compte
                </a>
            {% endbuttons %}
        </form>
    </article>
</div>
<!-- Conformation modal for account deletion -->
<div class="modal fade" id="accountDeletion" tabindex="-1" role="dialog" aria-labelledby="account-deletion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="account-deletion">Souhaitez vous réellement supprimer votre compte ?</h4>
            </div>
            <div class="modal-body">
                La suppression de votre compte effacera toutes vos donnés personnelles.
                Si vous ne souhaitez plus utiliser notre service et ne plus être visible
                auprès de nos utilisateurs, gérez vous même votre visibilité.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <a href="{% url 'delete_account'%}" class="btn btn-color btn-red-min">Confirmer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extraScript %}
<script src="{% static "js/build/advanced.js" %}"></script>
{% endblock %}
