{% extends "account/base.html" %}
{% load staticfiles %}
{% load static %}

{% block mainContent %}
    <div class="col-md-8">
	    <h4 class="margin-top-0">Vous êtes déjà membre premium</h4>
	    <div class="row margin-top-little">
		    <p class="text-center margin-top-little margin-bottom-little col-md-6 col-md-offset-2">
		        <img src="{% static "img/already-premium.png" %}" width="90%">
		    </p>
		    <p class="col-md-4 margin-top-0 margin-bottom-big">
		        Nous vous remercions pour la confiance que vous placez en notre service.<br><br>
		        N'hésitez pas à nous faire part de vos idées, suggestions, ou remarques, pour nous aider à mieux répondre à vos besoins.
		        <br><br>
		       	<a href="#" data-toggle="modal" data-target="#contactModal" class="btn btn-color btn-blue-min">
	            <span class="glyphicon glyphicon-send"></span> Contacter
	        	</a>
			</p>
		</div>
    </div>
{% endblock %}
