{% extends "account/base.html" %}

{% block mainContent %}
    <div class="col-md-offset-1 col-md-7">
	    <h4 class="margin-top-r">Vous êtes déjà membre premium</h4>
	    <div class="row margin-top-little">
		    <p class="text-center margin-top-little margin-bottom-little col-md-6 col-md-offset-2">
		        <img src="../static/img/already-premium.png" width="90%">
		    </p>
		    <p class="col-md-4 margin-top-0">
		        Nous vous remercions pour la confiance que vous placez en notre service.<br>
		        N'hésitez pas à nous faire part de vos idées, suggestion, ou remarques, pour nous aider à mieux répondre à vos besoins.
			</p>
		</div>
	    <p class="col-md-12 text-center margin-bottom-big">
	        <a href="#" data-toggle="modal" data-target="#contactModal" class="btn btn-color btn-blue-min">
	            <span class="glyphicon glyphicon-send"></span> Contacter
	        </a>
	    </p>
    </div>
{% endblock %}
