{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load static %}
{% load helpers %}

{% block title %} - Mon compte{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "lib/bootstrap3-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}" media="all"/>
<link rel="stylesheet" href="{% static "lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" %}" media="all"/>
<link rel="stylesheet" href="{% static "lib/select2/select2.css" %}" media="all"/>
<link rel="stylesheet" href="{% static "lib/select2/select2-bootstrap.css" %}" media="all"/>
{% endblock %}


{% block content %}
<div class="row account">
    {% block mainContent %}
    <div class="col-md-offset-1 col-md-7">
		<ul class="nav nav-tabs">
            {% block navtabs %}
            <li><a href="#compte" data-toggle="tab">Mon compte</a></li>
			<li><a href="#profil" data-toggle="tab">Mon profil</a></li>
			<li><a href="#planning" data-toggle="tab">Planning</a></li>
            {% endblock %}
            <a class="btn btn-color btn-blue-min margin-left-little margin-top-min"
               href="{% url 'profile' profil.instance|class_name|lower profil.instance.pk %}"
               target="_blank">
                <span class="glyphicon glyphicon-eye-open"></span> Voir à quoi ressemble mon profil
            </a>
        </ul>
        {% if user|plan == "basic" %}
        <div class="row well col-md-11 margin-top-little">
            <div class="col-md-9">
                Pour être visible sur le site et entrer en contact avec les autres utilisateurs, devenez membre Premium.
            </div>
            <div class="col-md-2">
                <a href="{% url 'premium' %}" class="btn btn-color btn-green-min">
                <i class="glyphicon glyphicon-thumbs-up"></i> Devenir premium
            </a>
            </div>
        </div>
        {% endif %}
        <div class="tab-content margin-top-little col-md-11">
            <div class="tab-pane fade in active" id="compte">
                <div class="panel-group" id="accordion">
                    {% block compte_extra %}{% endblock %}
                    <div class="panel panel-default favorite-panel margin-bottom-long">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#favoris">
                                    Mes favoris
                                </a>
                            </h4>
                        </div>
                        <div id="favoris" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row margin-bottom-0">
                                    <div class="col-md-4 col-md-offset-8">
                                        <button type="button" class="btn btn-color btn-blue-min contact-all">
                                            Contacter tous mes favoris
                                        </button>
                                    </div>
                                </div>
                                {% for favorite in related.get_favorites_data %}
                                <div class="favorite-row row">
                                    <div class="col-md-8">
                                        <h4 class="favorite-name">{{ favorite.first_name }} {{ favorite.name }}</h4>
                                        <p>{{ favorite.description }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs contact">
                                                Contacter
                                            </button>
                                            <button type="button" class="btn btn-default btn-xs remove">
                                                Supprimer
                                            </button>
                                        </div>
                                        <span class="hidden favorite-pk">{{ favorite.pk }}</span>
                                        <span class="hidden favorite-type">{{ favorite|class_name }}</span>
                                        <span class="hidden favorite-uri">{{ favorite.get_resource_uri }}</span>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="row favorite-empty-row">
                                    <div class="col-md-6 col-md-offset-3">
                                        Vous n'avez pas encore de favoris !
                                        <a href="{% url 'search' %}" class="btn btn-color btn-green-min">
                                            Trouver des favoris
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="modal-contact-favorite"
                             tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close"
                                                data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Formulaire de contact</h4>
                                        <small class="modal-subtitle"></small>
                                    </div>
                                    <div class="modal-body">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Annuler</button>
                                        <button type="button"
                                            class="btn btn-primary send-contact"
                                            data-dismiss="modal">Envoyer</button>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="profil">
                <div id="profile-pic-container" class="row">
                    <div class="col-md-2">
                        <a href="#" class="thumbnail profile-pic">
                            {% if .profile_pic %}
                                <img src="{% get_media_prefix %}{{ profil.instance.profile_pic.name }}"
                                     alt="Photo de profil">
                            {% else %}
                                <img src="{% static "img/nopic.png" %}" alt="Photo de profil">
                            {% endif %}
                        </a>
                        <p class="text-little"><a href="#" class="profile-pic">cliquez pour éditer</a></p>
                    </div>
                    <div class="col-md-4">
                        <h3>{{ profil.instance.first_name }} {{ profil.instance.name|slice:":1" }}.</h3>
                    </div>
                    <div class="modal fade" id="modal-pic" tabindex="-1"
                         role="dialog" aria-labelledby="modalPic" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close"
                                            data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="modalPic">Photo de profil : édition</h4>
                                </div>
                                <div class="modal-body">
                                    <form class="form-horizontal form-pic"
                                          action="{% url 'profile_pic' %}" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="picFile" class="col-md-5">
                                                Télécharger une photo de profil
                                            </label>
                                            <div class="col-md-3">
                                                <input type="file" id="picFile" name="profile_pic" required>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="errorblock text-danger">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Annuler
                                    </button>
                                    <button type="button" class="btn btn-primary save">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form method="post" action="{% url "account" %}">
                    {% csrf_token %}
                    {% block profile_form %}{% endblock %}
                    <div class="row padding-bottom-little">
                        <div class="col-md-4 col-md-offset-5">
                            <button type="submit" name="submit" value="profil" class="btn btn-color btn-green-min">
                                Sauvegarder
                            </button>
                        </div>
                    </div>
                </form>
                {% block profile_extra %}{% endblock %}
            </div>
            <div class="tab-pane fade" id="planning">
                <form method="post" action="{% url "account" %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form form-horizontal col-md-12">
                            <h4 class="margin-bottom-0">Planning</h4>
                            <h5>
                                Grâce à ce planning, détaillez vos besoins. Vous pouvez créer plusieurs
                                plannings, en cliquant sur <em>Ajouter un planning</em>.
                            </h5>
                            <div class="no-planning">
                                Vous n'avez pas encore ajouté de préférences de planning.
                            </div>
                            <div class="planning-container">
                                {% for form in planning.sub_forms %}
                                <div class="planning-form clearfix">
                                    <div class="form-group">
                                        {% bootstrap_label form.start_date.label_tag label_class="col-sm-5" %}
                                        <div class="col-md-7 input-group date">
                                            {{ form.start_date }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    {% bootstrap_field form.frequency field_class="col-sm-7" label_class="col-sm-5" %}
                                    {% bootstrap_field form.weekday field_class="col-sm-7" label_class="col-sm-5" show_help=False %}
                                    <span class="help-block">
                                        Vous pouvez sélectionner plusieurs jours de la semaine.
                                    </span>
                                    {% bootstrap_field form.schedule field_class="col-sm-7" label_class="col-sm-5" show_help=False %}
                                    <span class="help-block">
                                        Vous pouvez sélectionner plusieurs horaires.
                                    </span>
                                    <button type="button" class="btn btn-color btn-red-min remove-planning margin-top-min margin-bottom-r pull-right">
                                         <i class="glyphicon glyphicon-trash"></i> supprimer ce planning
                                    </button>
                                </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-color btn-blue-min add-planning margin-top-0">
                                 une nouvelle préférence <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row"><div class="col-md-4 col-md-offset-5 margin-bottom-long">
                        <button type="submit" name="submit"
                                value="planning" class="btn btn-color btn-green-min submit-planning">
                            Sauvegarder
                        </button>
                    </div></div>
                </form>
                <div class="empty-planning-form hidden">
                    <div class="planning-form clearfix">
                        <div class="form-group">
                            {% bootstrap_label planning.sub_form_empty.start_date.label_tag label_class="col-sm-5" %}
                            <div class="col-md-7 input-group date">
                                {{ planning.sub_form_empty.start_date }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        {% bootstrap_field planning.sub_form_empty.frequency field_class="col-sm-7" label_class="col-sm-5"%}
                        {% bootstrap_field planning.sub_form_empty.weekday field_class="col-sm-7" label_class="col-sm-5" show_help=False %}
                        <span class="help-block">
                            Vous pouvez sélectionner plusieurs jours de la semaine.
                        </span>
                        {% bootstrap_field planning.sub_form_empty.schedule field_class="col-sm-7" label_class="col-sm-5" show_help=False %}
                        <span class="help-block">
                            Vous pouvez sélectionner plusieurs horaires.
                        </span>
                        <button type="button" class="btn btn-color btn-red-min remove-planning margin-top-min margin-bottom-r pull-right">
                             <i class="glyphicon glyphicon-trash"></i> supprimer ce planning
                        </button>
                    </div>
                </div>
            </div>
            {% block tab_extra %}{% endblock %}
        </div>
    </div>
    {% endblock %}
    {% if user.is_authenticated %}  <!--Keep this for premium-->
    <div class="col-md-offset-1 col-md-3 margin-top-r">
        <div class="list-group">
            <a href="{% url 'account' %}"
                class="list-group-item {% if request.path_info == '/mon-compte/' %}active{% endif %}">
                <i class="glyphicon glyphicon-user"></i> Mon compte
            </a>
            <a href="{% url 'postman_inbox' %}"
                class="list-group-item {% if '/messages/' in request.path_info %}active{% endif %}">
                <i class="glyphicon glyphicon-envelope"></i> Messagerie
            </a>
            <a href="{% url 'advanced' %}"
                class="list-group-item {% if request.path_info == '/mon-compte/parametres-avances/' %}active{% endif %}">
                <i class="glyphicon glyphicon-cog"></i> Paramètres avancés
            </a>
            <a href="{% url 'premium' %}" class="list-group-item {% if '/devenir-premium/' in request.path_info %}active{% endif %}">
                <i class="glyphicon glyphicon-thumbs-up"></i> Devenir premium
            </a>
        </div>
    </div>
    {% endif %}
</div>
<input type="hidden" class="url-hash" value="#{{ url_hash }}">
{% endblock %}


{% block script %}
<script src="{% static "lib/backbone/backbone-min.js" %}"></script>
<script src="{% static "lib/moment/min/moment.min.js" %}"></script>
<script src="{% static "lib/select2/select2.min.js" %}"></script>
<script src="{% static "lib/bootstrap3-datetimepicker/src/js/bootstrap-datetimepicker.js" %}"></script>
<script src="{% static "lib/bootstrap3-datetimepicker/src/js/locales/bootstrap-datetimepicker.fr.js" %}"></script>
<script src="{% static "lib/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js" %}"></script>
{% block extraScript %}{% endblock %}
{% endblock %}