{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load static %}
{% load helpers %}


{% block navtabs %}
{{ block.super }}
<li><a href="#attentes" data-toggle="tab">Attentes</a></li>
{% endblock %}

{% block profile_form %}
<div class="row">
    <div class="form form-horizontal col-md-7">
        <h4 class="margin-bottom-0">Coordonnées</h4>
        {% for field in profil %}
        {% bootstrap_field field field_class="col-md-5" label_class="col-md-2" %}
        {% endfor %}
    </div>
    <div class="form col-md-5 form-horizontal">
        <h4 class="margin-bottom-0">Enfants</h4>
        <div class="no-child">
            Vous n'avez pas encore ajouté d'enfant à votre famille.
        </div>
        <div class="child-container">
            {% for form in profil.sub_forms %}
            <div class="child-form clearfix">
                {% bootstrap_field form.e_name field_class="col-sm-7" label_class="col-sm-5"%}
                {% bootstrap_field form.e_birthday field_class="col-sm-7" label_class="col-sm-5"%}
                {% bootstrap_field form.e_school field_class="col-sm-7" label_class="col-sm-5"%}
                <i class="glyphicon glyphicon-minus remove-child pull-right"></i>
            </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-primary add-child margin-top-0">
            Ajouter un enfant <i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>
</div>
{% endblock %}

{% block profile_extra %}
<div class="empty-child-form hidden">
    <div class="child-form clearfix">
        {% bootstrap_field profil.sub_form_empty.e_name field_class="col-sm-7" label_class="col-sm-5"%}
        {% bootstrap_field profil.sub_form_empty.e_birthday field_class="col-sm-7" label_class="col-sm-5"%}
        {% bootstrap_field profil.sub_form_empty.e_school field_class="col-sm-7" label_class="col-sm-5"%}
        <i class="glyphicon glyphicon-minus remove-child pull-right"></i>
    </div>
</div>
{% endblock %}

{% block tab_extra %}
    <div class="tab-pane fade" id="attentes">
                <form method="post" action="{% url "account" %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            {% bootstrap_field attentes.type_garde %}
                            {% bootstrap_field attentes.type_presta %}
                            <!-- TODO proximité -->
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form form-horizontal">
                                        {% bootstrap_field attentes.tarif field_class="col-md-6" label_class="col-md-4"%}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {% bootstrap_field attentes.diploma %}
                                </div>
                                <div class="col-md-6">
                                    {% bootstrap_field attentes.language %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {% bootstrap_field attentes.devoirs %}
                                    {% bootstrap_field attentes.menage %}
                                    {% bootstrap_field attentes.repassage %}
                                </div>
                                <div class="col-md-6">
                                    {% bootstrap_field attentes.permis %}
                                    {% bootstrap_field attentes.non_fumeur %}
                                    {% bootstrap_field attentes.psc1 %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {% bootstrap_field attentes.description %}
                                </div>
                            </div>
                        </div>
                        <div class="row"><div class="col-md-4 col-md-offset-5">
                            <button type="submit" name="submit" value="attentes" class="btn btn-success">Sauvegarder</button>
                        </div></div>
                    </div>
                </form>
            </div>
{% endblock %}

{% block extraScript %}
<script src="{% static "js/build/famille_account.js" %}"></script>
{% endblock %}
