{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load helpers %}

{% block title %} - Mon compte{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "lib/bootstrap3-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}" media="all"/>
<link rel="stylesheet" href="{% static "lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" %}" media="all"/>
{% endblock %}

{% block content %}
{% bootstrap_messages %}
<div class="row">
    <div class="col-md-offset-1 col-md-7">
        <ul class="nav nav-tabs">
            <li><a href="#compte" data-toggle="tab">Mon compte</a></li>
            <li><a href="#profil" data-toggle="tab">Mon profil</a></li>
            <li><a href="#planning" data-toggle="tab">Planning</a></li>
            <li><a href="#attentes" data-toggle="tab">Attentes</a></li>
        </ul>
        <div class="tab-content margin-top-1">
            <div class="tab-pane fade in active" id="compte">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default favorite-panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#favoris">
                                    Mes favoris
                                </a>
                            </h4>
                        </div>
                        <div id="favoris" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row margin-bottom-0">
                                    <div class="col-md-4 col-md-offset-8">
                                        <button type="button" class="btn btn-primary contact-all">Contacter tous mes favoris</button>
                                    </div>
                                </div>
                                {% for favorite in related.get_favorites_data %}
                                <div class="favorite-row row">
                                    <div class="col-md-8">
                                        <h4 class="favorite-name">{{ favorite.first_name }} {{ favorite.name }}</h4>
                                        <p>{{ favorite.description }}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs contact">Contacter</button>
                                            <button type="button" class="btn btn-default btn-xs remove">Supprimer</button>
                                        </div>
                                        <span class="hidden favorite-pk">{{ favorite.pk }}</span>
                                        <span class="hidden favorite-type">{{ favorite|class_name }}</span>
                                        <span class="hidden favorite-uri">{{ favorite.get_resource_uri }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="modal-contact-favorite"
                             tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Formulaire de contact</h4>
                                        <small class="modal-subtitle"></small>
                                    </div>
                                    <div class="modal-body">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <button type="button"
                                            class="btn btn-primary send-contact"
                                            data-dismiss="modal">Envoyer</button>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profil">
                <form method="post" action="{% url "account" %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form form-horizontal col-md-7">
                            <h4 class="margin-bottom-0">Coordonnées</h4>
                            {% for field in profil %}
                            {% bootstrap_field field field_class="col-md-5" label_class="col-md-2" %}
                            {% endfor %}
                        </div>
                        <div class="form col-md-5 form-horizontal">
                            <h4 class="margin-bottom-0">Enfants</h4>
                            <div class="no-child">
                                Vous n'avez pas encore ajouté d'enfant à votre famille.
                            </div>
                            <div class="child-container">
                                {% for form in profil.sub_forms %}
                                <div class="child-form clearfix">
                                    {% bootstrap_field form.e_name field_class="col-sm-7" label_class="col-sm-5"%}
                                    {% bootstrap_field form.e_birthday field_class="col-sm-7" label_class="col-sm-5"%}
                                    {% bootstrap_field form.e_school field_class="col-sm-7" label_class="col-sm-5"%}
                                    <i class="glyphicon glyphicon-minus remove-child pull-right"></i>
                                </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-primary add-child margin-top-0">
                                Ajouter un enfant <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row"><div class="col-md-4 col-md-offset-5">
                        <button type="submit" name="submit" value="profil" class="btn btn-success">Sauvegarder</button>
                    </div></div>
                </form>
                <div class="empty-child-form hidden">
                    <div class="child-form clearfix">
                        {% bootstrap_field profil.sub_form_empty.e_name field_class="col-sm-7" label_class="col-sm-5"%}
                        {% bootstrap_field profil.sub_form_empty.e_birthday field_class="col-sm-7" label_class="col-sm-5"%}
                        {% bootstrap_field profil.sub_form_empty.e_school field_class="col-sm-7" label_class="col-sm-5"%}
                        <i class="glyphicon glyphicon-minus remove-child pull-right"></i>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="planning">
                <form method="post" action="{% url "account" %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form form-horizontal col-md-12">
                            <h4 class="margin-bottom-0">Planning</h4>
                            <div class="no-planning">
                                Vous n'avez pas encore ajouté de préférences de planning.
                            </div>
                            <div class="planning-container">
                                {% for form in planning.sub_forms %}
                                <div class="planning-form clearfix">
                                    <div class="form-group">
                                        {% bootstrap_label form.start_date.label_tag label_class="col-sm-5" %}
                                        <div class="col-md-7 input-group date initial-date">
                                            {{ form.start_date }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    {% bootstrap_field form.frequency field_class="col-sm-7" label_class="col-sm-5"%}
                                    <div class="form-group">
                                        {% bootstrap_label form.end_date.label_tag label_class="col-sm-5" %}
                                        <div class="col-md-7 input-group date initial-date">
                                            {{ form.end_date }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <i class="glyphicon glyphicon-minus remove-planning pull-right"></i>
                                </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-primary add-planning margin-top-0">
                                Ajouter une nouvelle préférence <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row"><div class="col-md-4 col-md-offset-5">
                        <button type="submit" name="submit" value="planning" class="btn btn-success">Sauvegarder</button>
                    </div></div>
                </form>
                <div class="empty-planning-form hidden">
                    <div class="planning-form clearfix">
                        <div class="form-group">
                            {% bootstrap_label planning.sub_form_empty.start_date.label_tag label_class="col-sm-5" %}
                            <div class="col-md-7 input-group date">
                                {{ planning.sub_form_empty.start_date }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        {% bootstrap_field planning.sub_form_empty.frequency field_class="col-sm-7" label_class="col-sm-5"%}
                        <div class="form-group">
                            {% bootstrap_label planning.sub_form_empty.end_date.label_tag label_class="col-sm-5" %}
                            <div class="col-md-7 input-group date">
                                {{ planning.sub_form_empty.end_date }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <i class="glyphicon glyphicon-minus remove-planning pull-right"></i>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="attentes">
                <form method="post" action="{% url "account" %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            {% bootstrap_field attentes.type_garde %}
                            {% bootstrap_field attentes.type_presta %}
                            <!-- TODO proximité -->
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form form-horizontal">
                                        {% bootstrap_field attentes.tarif field_class="col-md-6" label_class="col-md-4"%}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {% bootstrap_field attentes.diploma %}
                                </div>
                                <div class="col-md-6">
                                    {% bootstrap_field attentes.langue %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {% bootstrap_field attentes.devoirs %}
                                    {% bootstrap_field attentes.menage %}
                                    {% bootstrap_field attentes.repassage %}
                                    {% bootstrap_field attentes.cdt_periscolaire %}
                                    {% bootstrap_field attentes.sortie_ecole %}
                                    {% bootstrap_field attentes.nuit %}
                                </div>
                                <div class="col-md-6">
                                    {% bootstrap_field attentes.permis %}
                                    {% bootstrap_field attentes.non_fumeur %}
                                    {% bootstrap_field attentes.urgence %}
                                    {% bootstrap_field attentes.psc1 %}
                                    {% bootstrap_field attentes.baby %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {% bootstrap_field attentes.description %}
                                </div>
                            </div>
                        </div>
                        <div class="row"><div class="col-md-4 col-md-offset-5">
                            <button type="submit" name="submit" value="attentes" class="btn btn-success">Sauvegarder</button>
                        </div></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- TODO : préférences, réglages -->
    </div>
    <input type="hidden" class="url-hash" value="#{{ url_hash }}">
</div>
{% endblock %}
{% block script %}
<script src="{% static "lib/underscore/underscore-min.js" %}"></script>
<script src="{% static "lib/backbone/backbone-min.js" %}"></script>
<script src="{% static "lib/moment/min/moment.min.js" %}"></script>
<script src="{% static "lib/bootstrap3-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>
<script src="{% static "lib/bootstrap3-datetimepicker/src/js/locales/bootstrap-datetimepicker.fr.js" %}"></script>
<script src="{% static "lib/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js" %}"></script>
<script src="{% static "js/account.js" %}"></script>
<script src="{% static "js/famille_account.js" %}"></script>
{% endblock %}
