{% extends "account/base.html" %}
{% load bootstrap3 %}

{% block title %}Changement de mot de passe{% endblock %}

{% block mainContent %}
<div class="col-md-offset-2 col-md-6 margin-top-0 margin-bottom-med">
    <h4 class="text-left">Changement de mot de passe</h4>
    <form action="" method="post" class="col-md-7">{% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <div class="margin-top-r">
    	<a href="{% url 'advanced' %}" class="btn btn-default pull-left">
        	Annuler
    	</a>
        <button type="submit" class="btn btn-color btn-green-min pull-right">Changer mon mot de passe</button>
    </div>
    {% endbuttons %}
    </form>
</div>
{% endblock %}
