{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %} - Mon compte{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "lib/bootstrap3-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}" media="all"/>
<link rel="stylesheet" href="{% static "lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" %}" media="all"/>
{% endblock %}

{% block content %}
{% bootstrap_messages %}
<div class="row">
	<div class="col-md-offset-1 col-md-7">
		<ul class="nav nav-tabs">
            <li><a href="#compte" data-toggle="tab">Mon compte</a></li>
			<li><a href="#profil" data-toggle="tab">Mon profil</a></li>
			<li><a href="#planning" data-toggle="tab">Planning</a></li>
			<li><a href="#competences" data-toggle="tab">Compétences</a></li>
		</ul>
		<div class="tab-content margin-top-1">
            <div class="tab-pane fade in active" id="compte">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#references">
                                    Mes références
                                </a>
                            </h4>
                        </div>
                        <div id="references" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form method="post" action="{% url "account" %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="form form-horizontal col-md-12 min-height-little">
                                            <div class="reference-list"></div>
                                            <button type="button" class="btn btn-primary add-reference" data-toggle="modal" data-target="#referenceModal">
                                                Ajouter une référence
                                            </button>
                                        </div>
                                        <!-- TODO: favoris ?-->
                                    </div>
                                    <div class="hidden real-forms">
                                        {% for form in compte.sub_forms %}
                                        <div class="reference-form">
                                            {% for field in form %}
                                                {% bootstrap_field field %}
                                            {% endfor %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="row"><div class="col-md-3 col-md-offset-9">
                                        <button type="submit" name="submit" value="compte" class="btn btn-success">
                                            Sauvegarder
                                        </button>
                                    </div></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#favoris">
                                    Mes favoris
                                </a>
                            </h4>
                        </div>
                        <div id="favoris" class="panel-collapse collapse">
                            <div class="panel-body">
                                ...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hidden empty-real-form">
                    <div class="reference-form">
                        {% for field in compte.sub_form_empty %}
                            {% bootstrap_field field %}
                        {% endfor %}
                    </div>
                </div>
                <div class="modal fade" id="referenceModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Ajouter une référence</h4>
                                <small><i class="glyphicon glyphicon-warning-sign"></i>
                                    Vous devez vous assurer que cette famille est d'accord pour être contactée via notre réseau.
                                </small>
                            </div>
                            <div class="modal-body">
                                <div class="form form-horizontal">
                                    <h5>
                                        <input type="radio" name="reference-type" checked value="#exists" data-collapse>
                                        Votre référence est sur <em>Une vie de famille</em>
                                    </h5>
                                    <div class="choice-collapse" id="exists">
                                        {% bootstrap_field compte.sub_form_empty.referenced_user field_class="col-sm-7" label_class="col-sm-5"%}
                                    </div>
                                    <h5>
                                        <input type="radio" name="reference-type" value="#doesnt-exists" data-collapse>
                                        Votre référence n'est pas sur <em>Une vie de famille</em>
                                    </h5>
                                    <div class="choice-collapse hidden" id="doesnt-exists">
                                        {% bootstrap_field compte.sub_form_empty.name field_class="col-sm-7" label_class="col-sm-5"%}
                                        {% bootstrap_field compte.sub_form_empty.email field_class="col-sm-7" label_class="col-sm-5"%}
                                        {% bootstrap_field compte.sub_form_empty.phone field_class="col-sm-7" label_class="col-sm-5"%}
                                    </div>
                                    <br/>
                                    <div class="no-collapse">
                                        <h5>Quelles missions avez vous effetcuées pour cette famille ?</h5>
                                        {% bootstrap_field compte.sub_form_empty.missions field_class="col-sm-7" label_class="sr-only" %}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary save-reference" data-dismiss="modal">
                                    Save changes
                                </button>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
			<div class="tab-pane fade in" id="profil">
				<form method="post" action="{% url "account" %}">
					{% csrf_token %}
					<div class="row">
						<div class="form form-horizontal col-md-12">
							<h4 class="margin-bottom-0">Coordonnées</h4>
							<div class="row">
								<div class="col-md-6">
									{% bootstrap_field profil.name field_class="col-md-6" label_class="col-md-4" %}
									{% bootstrap_field profil.first_name field_class="col-md-6" label_class="col-md-4" %}
									{% bootstrap_field profil.email field_class="col-md-6" label_class="col-md-4" %}
									{% bootstrap_field profil.type field_class="col-md-6" label_class="col-md-4" %}
									{% bootstrap_field profil.sub_types field_class="col-md-6" label_class="col-md-4" %}
								</div>
								<div class="col-md-6">
									{% bootstrap_field profil.street field_class="col-md-6" label_class="col-md-4" %}
									{% bootstrap_field profil.postal_code field_class="col-md-6" label_class="col-md-4" %}
									{% bootstrap_field profil.city field_class="col-md-6" label_class="col-md-4" %}
									{% bootstrap_field profil.country field_class="col-md-6" label_class="col-md-4" %}
									{% bootstrap_field profil.tel field_class="col-md-6" label_class="col-md-4" %}
									{% bootstrap_field profil.tel_visible field_class="col-md-offset-4 col-md-6" %}
								</div>
							</div>
						</div>
					</div>
					<div class="row"><div class="col-md-4 col-md-offset-5">
						<button type="submit" name="submit" value="profil" class="btn btn-success">Sauvegarder</button>
					</div></div>
				</form>
			</div>
            <div class="tab-pane fade" id="planning">
                <form method="post" action="{% url "account" %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form form-horizontal col-md-12">
                            <h4 class="margin-bottom-0">Planning</h4>
                            <div class="no-planning">
                                Vous n'avez pas encore ajouté de préférences de planning.
                            </div>
                            <div class="planning-container">
                                {% for form in planning.sub_forms %}
                                <div class="planning-form clearfix">
                                    <div class="form-group">
                                        {% bootstrap_label form.start_date.label_tag label_class="col-sm-5" %}
                                        <div class="col-md-7 input-group date">
                                            {{ form.start_date }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    {% bootstrap_field form.frequency field_class="col-sm-7" label_class="col-sm-5"%}
                                    {% bootstrap_field form.weekday field_class="col-sm-7" label_class="col-sm-5"%}
                                    {% bootstrap_field form.schedule field_class="col-sm-7" label_class="col-sm-5"%}
                                    <i class="glyphicon glyphicon-minus remove-planning pull-right"></i>
                                </div>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-primary add-planning margin-top-0">
                                Ajouter une nouvelle préférence <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row"><div class="col-md-4 col-md-offset-5">
                        <button type="submit" name="submit"
                                value="planning" class="btn btn-success submit-planning">
                            Sauvegarder
                        </button>
                    </div></div>
                </form>
                <div class="empty-planning-form hidden">
                    <div class="planning-form clearfix">
                        <div class="form-group">
                            {% bootstrap_label planning.sub_form_empty.start_date.label_tag label_class="col-sm-5" %}
                            <div class="col-md-7 input-group date">
                                {{ planning.sub_form_empty.start_date }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        {% bootstrap_field planning.sub_form_empty.frequency field_class="col-sm-7" label_class="col-sm-5"%}
                        {% bootstrap_field planning.sub_form_empty.weekday field_class="col-sm-7" label_class="col-sm-5"%}
                        {% bootstrap_field planning.sub_form_empty.schedule field_class="col-sm-7" label_class="col-sm-5"%}
                        <i class="glyphicon glyphicon-minus remove-planning pull-right"></i>
                    </div>
                </div>
            </div>
			<div class="tab-pane fade" id="competences">
				<form method="post" action="{% url "account" %}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-4">
							{% bootstrap_field competences.diploma %}
                            {% bootstrap_field competences.resume %}
							<p>Quelles langues parlez-vous ?</p>
							{% bootstrap_field competences.level_en %}
							{% bootstrap_field competences.level_de %}
							{% bootstrap_field competences.level_es %}
							{% bootstrap_field competences.level_it %}
							{% bootstrap_field competences.other_language %}
						</div>
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-12">
									<div class="form form-horizontal">
										{% bootstrap_field competences.tarif field_class="col-md-6" label_class="col-md-4"%}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									{% bootstrap_field competences.type_garde %}
								</div>
								<div class="col-md-6">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									{% bootstrap_field competences.devoirs %}
									{% bootstrap_field competences.menage %}
									{% bootstrap_field competences.repassage %}
									{% bootstrap_field competences.cdt_periscolaire %}
									{% bootstrap_field competences.sortie_ecole %}
									{% bootstrap_field competences.nuit %}
								</div>
								<div class="col-md-6">
									{% bootstrap_field competences.permis %}
									{% bootstrap_field competences.non_fumeur %}
									{% bootstrap_field competences.urgence %}
									{% bootstrap_field competences.psc1 %}
									{% bootstrap_field competences.baby %}
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									{% bootstrap_field competences.description %}
								</div>
							</div>
						</div>
						<div class="row"><div class="col-md-4 col-md-offset-5">
							<button type="submit" name="submit" value="competences" class="btn btn-success">Sauvegarder</button>
						</div></div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<!-- TODO : préférences, réglages -->
	</div>
    <input type="hidden" class="url-hash" value="#{{ url_hash }}">
</div>
{% endblock %}
{% block script %}
<script src="{% static "lib/underscore/underscore-min.js" %}"></script>
<script src="{% static "lib/backbone/backbone-min.js" %}"></script>
<script src="{% static "lib/moment/min/moment.min.js" %}"></script>
<script src="{% static "lib/bootstrap3-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>
<script src="{% static "lib/bootstrap3-datetimepicker/src/js/locales/bootstrap-datetimepicker.fr.js" %}"></script>
<script src="{% static "lib/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js" %}"></script>
<script src="{% static "js/account.js" %}"></script>
<script src="{% static "js/prestataire_account.js" %}"></script>
<script src="{% static "js/build/famille_account.js" %}"></script>
{% endblock %}
