boto==2.27.0
Django==1.6
dj-database-url==0.2.2
dj-static==0.0.5
django-bootstrap3==2.5.1
django-grappelli==2.5.0
django-log-request-id==1.0.0
django-localflavor==1.0
django-password-reset==0.7
git+https://github.com/spookylukey/django-paypal.git@c3f1dc1dad197584431b3853205722577c0a8912
django-storages==1.1.8
django-tastypie==0.11.0
django-tinymce==1.5.2
djrill==0.9.0
gunicorn==18.0
ipython==1.1.0
mock==1.0.1
newrelic==2.16.0.12
psycopg2==2.5.1
python-social-auth==0.1.22
pygeocoder==1.2.2
south==0.8.4
static==0.4
