{% extends "email/base.html" %}
{% load helpers %}

{% block title %}
Désactivation de compte
{% endblock %}

{% block title_header %}
Désactivation de compte
{% endblock %}

{% block content %}
<p>Bonjour,</p><br/>

<p>Vous venez de désactiver votre compte <em>Une vie de famille</em>. Cette opération a bien été prise en compte. Nous espérons vous revoir bientôt parmi nous et restons à votre disposition pour toutes informations complémentaires,</p><br/>

<p>A bientôt,<br/>
L’Equipe d’ <em>Une vie de famille</em>.
</p>
{% endblock %}
