{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %} - Mon compte{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" %}" media="all"/>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-offset-1 col-md-7">
    <ul class="nav nav-tabs">
      <li><a href="#compte" data-toggle="tab">Mon compte</a></li>
      <li><a href="#planning" data-toggle="tab">Planning</a></li>
      <li><a href="#attentes" data-toggle="tab">Attentes</a></li>
    </ul>
    <div class="tab-content margin-top-1">
      <div class="tab-pane fade in active" id="compte">
	<form method="post" action="{% url "account" %}">
	  {% csrf_token %}
	  <div class="row">
	    <div class="form form-horizontal col-md-7">
	      <h4 class="margin-bottom-0">Coordonnées</h4>
	      {% for field in form %}
	      {% bootstrap_field field field_class="col-md-5" label_class="col-md-2" %}
	      {% endfor %}
	    </div>
	    <div class="form col-md-5 form-horizontal">
	      <h4 class="margin-bottom-0">Enfants</h4>
	      <div class="no-child">
		Vous n'avez pas encore ajouté d'enfant à votre famille.
	      </div>
	      <div class="child-container">
		{% for form in form.enfant_forms %}
		<div class="child-form">
		  {% bootstrap_field form.e_name field_class="col-sm-7" label_class="col-sm-5"%}
		  {% bootstrap_field form.e_birthday field_class="col-sm-7" label_class="col-sm-5"%}
		  <i class="glyphicon glyphicon-minus remove-child pull-right"></i>
		</div>
		{% endfor %}
	      </div>
	      <button type="button" class="btn btn-primary add-child margin-top-0">Ajouter un enfant <i class="glyphicon glyphicon-plus"></i></button>
	    </div>
	  </div>
	  <div class="row"><div class="col-md-4 col-md-offset-5">
	    <button type="submit" name="submit" value="profil" class="btn btn-success">Sauvegarder</button>
	  </div></div>
	</form>
	<div class="empty-child-form hidden">
	  <div class="child-form">
	    {% bootstrap_field form.enfant_form_empty.e_name field_class="col-sm-7" label_class="col-sm-5"%}
	    {% bootstrap_field form.enfant_form_empty.e_birthday field_class="col-sm-7" label_class="col-sm-5"%}
	    <i class="glyphicon glyphicon-minus remove-child pull-right"></i>
	  </div>
	</div>
      </div>
      <div class="tab-pane fade" id="planning">...</div>
      <div class="tab-pane fade" id="attentes">
	<form method="post" action="{% url "account" %}">
	  {% csrf_token %}
	  <div class="row">
	    <div class="col-md-4">
	      {% bootstrap_field criteria_form.type_garde %}
	      {% bootstrap_field criteria_form.type_presta %}
	      <!-- TODO proximité -->
	    </div>
	    <div class="col-md-8">
	      <div class="row">
		<div class="col-md-12">
		  <div class="form form-horizontal">
		    {% bootstrap_field criteria_form.tarif field_class="col-md-6" label_class="col-md-4"%}
		  </div>
		</div>
	      </div>
	      <div class="row">
		<div class="col-md-6">
		  {% bootstrap_field criteria_form.diploma %}
		</div>
		<div class="col-md-6">
		  {% bootstrap_field criteria_form.langue %}
		</div>
	      </div>
	      <div class="row">
		<div class="col-md-6">
		  {% bootstrap_field criteria_form.devoirs %}
		  {% bootstrap_field criteria_form.menage %}
		  {% bootstrap_field criteria_form.repassage %}
		  {% bootstrap_field criteria_form.cdt_periscolaire %}
		  {% bootstrap_field criteria_form.sortie_ecole %}
		  {% bootstrap_field criteria_form.nuit %}
		</div>
		<div class="col-md-6">
		  {% bootstrap_field criteria_form.permis %}
		  {% bootstrap_field criteria_form.non_fumeur %}
		  {% bootstrap_field criteria_form.urgence %}
		  {% bootstrap_field criteria_form.psc1 %}
		  {% bootstrap_field criteria_form.baby %}
		</div>
	      </div>
	      <div class="row">
		<div class="col-md-12">
		  {% bootstrap_field criteria_form.description %}
		</div>
	      </div>
	    </div>
	    <div class="row"><div class="col-md-4 col-md-offset-5">
		<button type="submit" name="submit" value="criteria" class="btn btn-success">Sauvegarder</button>
	    </div></div>
	  </div>
	</form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <!-- TODO : préférences, réglages -->
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static "lib/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js" %}"></script>
<script src="{% static "js/account.js" %}"></script>
{% endblock %}
