{% load staticfiles %}
{% load static %}
{% load helpers %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "lib/bootstrap/dist/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.png" %}"/>
    <link rel="stylesheet" href="{% static "lib/growl/stylesheets/jquery.growl.css" %}"/>
    <meta charset="utf-8"></meta>
    <meta><!-- TODO keywords --></meta>
    {% block extrahead %}{% endblock %}
    <title>Une vie de famille {% block title %}{% endblock %}</title>
</head>

<body class="{% block body-class %}{% endblock %}" {% block bodyattrs %}{% endblock %}>
  {% block navigation %}
  <img id="logo-home" class="visible-lg" src="{% static "img/confiance_proximite.png" %}" width="11%">

  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Une vie de famille</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a href="{% url 'search' %}">Rechercher</a></li>
          {% if request.user|user_type != "Prestataire" %}
          <li class="dropdown">
              <a href="#" class="dropdown-toggle text-green" data-toggle="dropdown">
                  Espace Famille <b class="caret"></b>
              </a>
              {% url 'espace_famille' as famille %}
              <ul class="dropdown-menu">
                  <li><a href="{{ famille }}#">Description du service</a></li>
                  <li><a href="{{ famille }}#fonctionnement">Fonctionnement</a></li>
                  <li><a href="{{ famille }}#avantages">Avantages offerts</a></li>
                  <li><a href="{{ famille }}#premium">Avantages premium</a></li>
                  <li><a href="{{ famille }}#faq">Foire aux questions</a></li>
              </ul>
	      </li>
          {% endif %}
          {% if request.user|user_type != "Famille" %}
	      <li class="dropdown">
              <a href="#" class="dropdown-toggle text-blue" data-toggle="dropdown">
                  Espace Prestataire<b class="caret"></b>
              </a>
              {% url 'espace_prestataire' as prestataire %}
              <ul class="dropdown-menu">
                  <li><a href="{{ prestataire }}#">Description du service</a></li>
                  <li><a href="{{ prestataire }}#fonctionnement">Fonctionnement</a></li>
                  <li><a href="{{ prestataire }}#avantages">Avantages offerts</a></li>
                  <li><a href="{{ prestataire }}#premium">Avantages premium</a></li>
                  <li><a href="{{ prestataire }}#faq">Foire aux questions</a></li>
              </ul>
          </li>
          {% endif %}
          <li><a href="{% url 'tools' %}">Tout sur la garde d'enfants</a></li>
          <li>
              <a href="#" data-toggle="modal" data-target="#contactModal">
                  Contact
              </a>
          </li>
      </ul>
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
	      <li><a href="{% url 'account' %}">
              {% if related_user.profile_pic %}
                  <img src="{% get_media_prefix %}{{ related_user.profile_pic.name }}" class="small-pic" alt="Mon compte">
              {% else %}
                  <img src="{% static "img/nopic.png" %}" class="small-pic" alt="Mon compte">
              {% endif %}
              {{ related_user.get_pseudo }}
          </a></li>
	      <li><a href="{% url 'auth_logout' %}">Déconnexion</a></li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav navbar-right">
	      <li><a href="{% url 'auth_login' %}">Se connecter</a></li>
	      <li><a href="{% url 'register' %}">Créer un compte</a></li>
      </ul>
      {% endif %}
    </div><!-- /.navbar-collapse -->
  </nav>
  <!-- Contact modal -->
  <div class="modal fade" id="contactModal" tabindex="-1"
  role="dialog" aria-labelledby="contact-modal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="contact-modal">
                  Nous contacter<br/>
                  <small>Merci de nous laisser votre message. Nous vous répondrons dans les plus brefs délais.</small>
              </h4>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-group">
                      <label for="contact-name">Votre nom ou raison sociale</label>
                      <input type="text" name="name" id="contact-name" class="form-control"/>
                  </div>
                  <div class="form-group">
                      <label for="contact-email">Email / contact</label>
                      <input type="text" name="name" id="contact-email" class="form-control"/>
                  </div>
                  <div class="form-group">
                      <label for="contact-messageContent">Contenu du message</label>
                      <textarea rows="5" name="messageContent" id="contact-messageContent" class="form-control"></textarea>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button type="button" class="btn btn-primary send-contact-message">Envoyer</button>
              <hr>
              
              <p class="text-center text-light">UNE VIE DE FAMILLE &reg; 2014, Tous droits réservés</p>
              <p class="text-center text-light">Mail: {{ contact.mail }}</p>
              <p class="text-center text-light">Siège social: {{ contact.address }}</p>
              <p class="text-center text-light">Numéro de téléphone: {{ contact.phone }}</p>
          </div>
      </div>
  </div>
</div>
  {% endblock %}
  {% block content %}{% endblock %}<br/>
  <script src="{% static "lib/jquery/dist/jquery.min.js" %}"></script>
  <script src="{% static "lib/jquery.cookie/jquery.cookie.js" %}"></script>
  <script src="{% static "lib/bootstrap/dist/js/bootstrap.min.js" %}"></script>
  <script src="{% static "lib/growl/javascripts/jquery.growl.js" %}"></script>
  <script src="{% static "lib/underscore/underscore-min.js" %}"></script>
  <script src="{% static "js/build/contact_us.js" %}"></script>
  <script>
  window.Settings = {
      urls: {
          media: "{% get_media_prefix %}"
      }
  };
  </script>
  {% block script %}{% endblock %}
  <!--
      Credits:
          - User by P.J. Onori from The Noun Project
          - Construction by Laurent Patain from The Noun Project
  -->
</body>
</html>
