{% extends "base.html" %}
{% load flatpages %}
{% load staticfiles %}

{% block title %}Une vie de famille - Espace famille{% endblock %}

{% block bodyattrs %}data-spy="scroll" data-target=".side-bar"{% endblock %}
{% block content %}
{% get_flatpages "/famille/first/" as first %}
{% get_flatpages "/famille/second/" as second %}
{% get_flatpages "/famille/third/" as third %}

{% with first=first|first second=second|first third=third|first%}
<div class="row little-margin">
    <div class="col-md-3 side-bar">
        <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="0">
            <li><a href="#first" class="">{{ first.title }}</a></li>
            <li><a href="#second" class="">{{ second.title }}</a></li>
            <li><a href="#third" class="">{{ third.title }}</a></li>
        </ul>
    </div>
    <section class="col-md-8">
        <article class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>Bienvenue dans l'espace famille !</h1>
                    <p>Un peu de text par ici....</p>
                </div>
            </div>
        </article>
        <article class="row" id="first">
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <img src="{% static "img/img1.jpg" %}" alt="img1">
                </a>
            </div>
            <div class="col-md-8">
                <header><h3>{{ first.title }}</h3></header>
                {{ first.content|safe }}
            </div>
        </article><br/><br/><br/><br/>
        <article class="row" id="second">
            <div class="col-md-8">
                <header><h3>{{ second.title }}</h3></header>
                {{ second.content|safe }}
            </div>
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <img src="{% static "img/img2.jpg" %}" alt="img2">
                </a>
            </div>
        </article><br/><br/><br/><br/>
        <article class="row" id="third">
            <div class="col-md-4">
                <a href="#" class="thumbnail">
                    <img src="{% static "img/img3.jpg" %}" alt="img3">
                </a>
            </div>
            <div class="col-md-8">
                <header><h3>{{ third.title }}</h3></header>
                {{ third.content|safe }}
            </div>
        </article>
    </section>
</div>
{% endwith %}
{% endblock %}