{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<main class="row home">
  <section class="col-lg-offset-1 col-lg-3">
    <div class="row">
      <article class="row margin-top-2">
        <div class="row">

          <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 visible-md visible-sm visible-xs margin-top-little">
            <img class="logo-md" src="{% static "img/confiance_proximite_white.png" %}" width="100%">
          </div>
        </div>
        <div class="row margin-top-2 margin-bottom-big">
          <div class="col-md-12 visible-lg">
            <iframe width="447.6" height="252" src="//www.youtube.com/embed/a5wGysrzTj4" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </article>
    </div>
  </section>
  <section class="col-lg-offset-1 col-lg-6">
    <div class="row">
      <article class="row margin-top-1">
        <header>
          <h4 class="col-md-offset-1">Je commence mes recherches</h4>
        </header>
        <div class="col-lg-offset-2 col-md-10 col-md-offset-1 col-md-9 col-sm-12 crea-compte-md crea-compte">
          <p class="visible-lg">Consultez gratuitement toutes les propositions près de chez vous</p>
          <form class="form-inline" role="search" method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12 col-sm-10 col-sm-offset-1">
                {% for field in search_form %}
                {% bootstrap_field field show_label=False %}
                {% endfor %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 margin-top-little col-sm-10 col-sm-offset-1">
                <button type="submit" class="btn btn-color btn-brown">
                  <span class="glyphicon glyphicon-search"></span> Rechercher
                </button>
              </div>
            </div>
          </form>
        </div>
      </article>
    </div>
    {% if not user.is_authenticated %}
    <div class="row">
    <hr class="col-md-4 col-md-offset-1 margin-top-0">
    <p class="col-md-2 margin-top-little text-center text-light">ou</p>
    <hr class="col-md-4 margin-top-0">
    </div>
    <div class="row">
      <article class="row margin-top-little">
        <header>
          <h4 class="col-md-offset-1 col-sm-10 col-sm-offset-10">
            Je créé mon compte
          </h4>
        </header>
        <div class="col-lg-5 col-sm-offset-1 col-sm-10">
          <p class="text-center visible-lg">Je recherche une personne de confiance pour garder mes enfants</p>
          <a href="#" class="btn btn-color  btn-green-min btn-block" data-toggle="modal" data-target="#createFamille">
            Familles
          </a>
        </div>
        <div class="col-lg-5 col-sm-offset-1 col-sm-10">
          <p class="text-center visible-lg">J'améliore ma visibilité auprès des familles à proximité de chez moi</p>
          <a href="#" class="btn btn-color  btn-blue-min btn-block" data-toggle="modal" data-target="#createPresta">
            Prestataires
          </a>
        </div>
      </article>
    </div>
    {% endif %}
  </section>
</main>
<aside>
  <!-- Modals -->
  <div class="modal fade" id="createFamille" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-thin">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Je crée mon compte famille</h4>
	</div>
        <form role="register" method="post" action="/register/">{% csrf_token %}
	  <div class="modal-body">
	    {% for field in registration_form %}
	    {% bootstrap_field field %}
	    {% endfor %}
        <div class="form-group">
            <em>
                <input type="checkbox" class="cgu-checkbox" id="cguFamilleBox" name="cgu" data-toggle=".cgu-famille-toggle"/>
                J'accepte les
                <a target="_blank" href="{% get_media_prefix %}miscellaneous/CGU.pdf">
                    conditions générales d'utilisation
                </a>
                du site Une vie de famille.
            </em>
        </div>
	    {% buttons %}
            {% with action="register" type="famille" btn_class="btn-register cgu-famille-toggle" data_checkbox="#cguFamilleBox" disabled="ok"%}
                {% include 'helpers/social_auth.html' %}
            {% endwith %}
	    {% endbuttons %}
	  </div>
	  <div class="modal-footer">
	    <input type="hidden" name="type" value="famille"/>
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-color btn-green-min btn-register cgu-famille-toggle" data-checkbox="#cguFamilleBox">Valider</button>
	  </div>
	</form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="modal fade" id="createPresta" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-thin">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Je crée mon compte prestataire</h4>
	</div>
        <form role="register" method="post" action="/register/">{% csrf_token %}
	  <div class="modal-body">
	    {% for field in registration_form %}
	    {% bootstrap_field field %}
	    {% endfor %}
        <div class="form-group">
            <em>
                <input type="checkbox" class="cgu-checkbox" id="cguPrestaBox" name="cgu" data-toggle=".cgu-presta-toggle"/>
                J'accepte les
                <a target="_blank" href="{% get_media_prefix %}miscellaneous/CGU.pdf">
                    conditions générales d'utilisation
                </a>
                du site Une vie de famille.
            </em>
        </div>
	    {% buttons %}
            {% with action="register" type="prestataire" btn_class="btn-register cgu-presta-toggle" data_checkbox="#cguPrestaBox" disabled="ok"%}
                {% include 'helpers/social_auth.html' %}
            {% endwith %}
	    {% endbuttons %}
	  </div>
	  <div class="modal-footer">
	    <input type="hidden" name="type" value="prestataire"/>
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-color btn-green-min btn-register cgu-presta-toggle" data-checkbox="#cguPrestaBox">Valider</button>
	  </div>
	</form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</aside>
{% endblock %}

{% block script %}
<script src="{% static "js/register.js" %}"></script>
{% endblock %}
