{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<main class="row home">
  <section class="col-lg-offset-1 col-lg-3">
    <div class="row">
      <article class="row margin-top-2">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4 visible-md visible-sm visible-xs margin-top-little">
            <img class="logo-md" src="{% static "img/confiance_proximite_green.png" %}" width="100%">
          </div>
        </div>
        <div class="row margin-top-2">
          <div class="col-md-12 visible-lg">
            <img src="{% static "img/vid.png" %}" width="447.6" height="252">
              <!-- <iframe width="447.6" height="252" src="//www.youtube.com/embed/a5wGysrzTj4" frameborder="0" allowfullscreen></iframe> -->
          </div>
        </div>
      </article>
    </div>
  </section>
  <section class="col-lg-offset-1 col-lg-6 col-sm-8 col-sm-offset-2 margin-top-little">
    <div class="row">
      <article class="row margin-top-1">
        <header>
          <h4 class="col-md-offset-1">Je commence mes recherches</h4>
        </header>
        <div class="col-lg-offset-2 col-md-8 col-md-offset-1 col-md-9 col-sm-12 crea-compte-md crea-compte">
          <p>Consultez gratuitement toutes les propositions près de chez vous</p>
          <form class="form-inline" role="search" method="post" action="{% url 'search' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                {% for field in search_form %}
                {% bootstrap_field field show_label=False %}
                {% endfor %}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 margin-top-little">
                <button type="submit" class="btn btn-color btn-brown">
                  <span class="glyphicon glyphicon-search"></span> Rechercher
                </button>
              </div>
            </div>
          </form>
        </div>
      </article>
    </div>
    <div class="row">
    <hr class="col-md-4 col-md-offset-1 margin-top-0 col-sm-12 col-xs-12">
    <p class="col-md-2 margin-top-little text-center visible-lg">ou</p>
    <hr class="col-md-4 margin-top-0 visible-lg">
    </div>
    <div class="row">
      <article class="row margin-top-0">
        <header>
          <h4 class="col-md-offset-1">
            Je crée mon compte
          </h4>
        </header>
        <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-4 col-xs-5 crea-compte">
          <p class="text-center">Je recherche une personne de confiance pour garder mes enfants</p>
          <a href="#" class="btn btn-color col-md-offset-4 btn-green-min" data-toggle="modal" data-target="#createFamille">Familles</a>
        </div>
        <div class="col-lg-offset-1 col-lg-5 col-md-offset-2 col-md-4 col-xs-offset-2 col-xs-5 crea-compte">
          <p class="text-center">J'améliore ma visibilité auprès des familles à proximité de chez moi</p>
          <a href="#" class="btn btn-color col-md-offset-4 btn-blue-min" data-toggle="modal" data-target="#createPresta">Prestataires</a>
        </div>
      </article>
    </div>  
  </section>
</main>
<aside>
  <!-- Modals -->
  <div class="modal fade" id="createFamille" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-thin">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Je crée mon compte famille</h4>
	</div>
        <form role="register" method="post" action="/register/">{% csrf_token %}
	  <div class="modal-body">
	    {% for field in registration_form %}
	    {% bootstrap_field field %}
	    {% endfor %}
	    {% buttons %}
            {% with action="register" type="famille" %}
                {% include 'helpers/social_auth.html' %}
            {% endwith %}
	    {% endbuttons %}
	  </div>
	  <div class="modal-footer">
	    <input type="hidden" name="type" value="famille"/>
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-success">Valider</button>
	  </div>
	</form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="modal fade" id="createPresta" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-thin">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Je crée mon compte prestataire</h4>
	</div>
        <form role="register" method="post" action="/register/">{% csrf_token %}
	  <div class="modal-body">
	    {% for field in registration_form %}
	    {% bootstrap_field field %}
	    {% endfor %}
	    {% buttons %}
            {% with action="register" type="prestataire" %}
                {% include 'helpers/social_auth.html' %}
            {% endwith %}
	    {% endbuttons %}
	  </div>
	  <div class="modal-footer">
	    <input type="hidden" name="type" value="prestataire"/>
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-success">Valider</button>
	  </div>
	</form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</aside>
{% endblock %}
