{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %} - Recherche{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" %}" media="all"/>
{% endblock %}

{% block content %}
<div class="row search-view">
    <div class="col-md-3 col-md-offset-1">
            <h3>Vous recherchez...</h3>
            <div class="btn-group">
                {% if search_type == "famille" %}
                <button type="button" class="btn btn-default choose-search" data-search="prestataire">Un prestataire</button>
                <button type="button" class="btn btn-success active">Une famille</button>
                {% else %}
                <button type="button" class="btn btn-success active">Un prestataire</button>
                <button type="button" class="btn btn-default choose-search" data-search="famille">Une famille</button>
                {% endif %}
            </div>
            <p>
                Voir les résultats pour ces critères
                <button type="button" class="btn btn-xs btn-primary do-search"><i class="glyphicon glyphicon-play"></i></button>
            </p>
            {% block form %}{% endblock %}
    </div>
    <div class="col-md-6 col-md-offset-1">
        <div class="row">
            <div class="col-md-7"><h3>Résultats</h3></div>
            <div class="col-md-5 pagination-sm pull-right small">
                <ul class="pager">
                    <li class="previous disabled"><a href="#">&larr; Précédents</a></li>
                    <li class="next"><a href="#">Suivants &rarr;</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="search-results">
                    {% for result in results %}
                    {% include result_template with prestataire=result user=user only %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="hidden favorite-list">
            {% for favorite in favorites %}
            <div class="favorited-item" data-id="{{ favorite.object_id }}" data-type="{{ favorite.object_type }}"></div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-offset-7 col-md-5 pagination-sm small">
                <ul class="pager">
                    <li class="previous disabled"><a href="#">&larr; Précédents</a></li>
                    <li class="next"><a href="#">Suivants &rarr;</a></li>
                </ul>
            </div>
            <div class="hidden">
                <div class="empty-result-template">
                {% include result_template only %}
                </div>
                {% if user.is_authenticated %}
                <span data-authenticated></span>
                {% endif %}
            </div>
            <input type="hidden" class="nb-search-results" value="{{ nb_search_results }}"/>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static "lib/underscore/underscore-min.js" %}"></script>
<script src="{% static "lib/backbone/backbone-min.js" %}"></script>
<script src="{% static "lib/jquery.cookie/jquery.cookie.js" %}"></script>
<script src="{% static "lib/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js" %}"></script>
<script src="{% static "js/search.js" %}"></script>
{% endblock %}
