{% extends "espace/base.html" %}
{% block title %}Une vie de famille - Espace famille{% endblock %}

{% block avantages_premium %}
<div class="row margin-top-little">
	<div class="col-md-10 col-md-offset-1">
	  <table class="table">
	  	<thead>
	  		<tr>
	  			<td class="radius-bottom-right"></td>
	  			<td class="bg-green radius-top-left mea">Aucune inscription</td>
	  			<td class="bg-green mea">Inscription gratuite</td>
	  			<td class="bg-green radius-top-right mea">Membre privilégié</td>
	  		</tr>
	  	</thead>
	  	<tbody>
	  		<tr>
	  			<td class="align-left mea col-md-6 border-right">Connaître le nombre de prestataires 	près de chez moi</td>
	  			<td class="col-md-2"><span class="glyphicon glyphicon-ok title-green glyphicon-big"></span></td>
	  			<td class="col-md-2"><span class="glyphicon glyphicon-ok title-green glyphicon-big"></span></td>
	  			<td class="col-md-2 border-right"><span class="glyphicon glyphicon-ok title-green glyphicon-big"></span></td>
	  		</tr>
	  		<tr class="bg-grey">
	  			<td class="align-left mea border-right">Recevoir les newsletters</td>
	  			<td><span class="glyphicon glyphicon-remove title-red glyphicon-big"></span></td>
	  			<td><span class="glyphicon glyphicon-ok title-green glyphicon-big"></span></td>
	  			<td class="border-right"><span class="glyphicon glyphicon-ok title-green glyphicon-big"></span></td>
	  		</tr>
	  		<tr>
	  			<td class="align-left mea border-right">Personnaliser mes recherches</td>
	  			<td><span class="glyphicon glyphicon-remove title-red glyphicon-big"></span></td>
	  			<td><span class="glyphicon glyphicon-ok title-green glyphicon-big"></span></td>
	  			<td class="border-right"><span class="glyphicon glyphicon-ok title-green glyphicon-big"></span></td>
	  		</tr>
	  		<tr class="bg-grey">
	  			<td class="align-left mea border-right">Consulter les profils détaillés des autres utilisateurs</td>
	  			<td><span class="glyphicon glyphicon-remove title-red glyphicon-big"></span></td>
	  			<td><span class="glyphicon glyphicon-ok title-green glyphicon-big"></span></td>
	  			<td class="border-right"><span class="glyphicon glyphicon-ok title-green glyphicon-big"></span></td>
	  		</tr>
	  		<tr>
	  			<td class="align-left mea border-right">Selectionner des favoris</td>
	  			<td><span class="glyphicon glyphicon-remove title-red glyphicon-big"></span></td>
	  			<td><span class="glyphicon glyphicon-ok title-green glyphicon-big"></span></td>
	  			<td class="border-right"><span class="glyphicon glyphicon-ok title-green glyphicon-big"></span></td>
	  		</tr>
	  		<tr class="bg-grey">
	  			<td class="align-left mea border-right">Profiter des outils et fiches pratiques</td>
	  			<td><span class="glyphicon glyphicon-remove title-red glyphicon-big"></span></td>
	  			<td><span class="glyphicon glyphicon-ok title-green glyphicon-big"></span></td>
	  			<td class="border-right"><span class="glyphicon glyphicon-ok title-green glyphicon-big"></span></td>
	  		</tr>
	  		<tr class="border-bottom">
	  			<td class="align-left mea border-right radius-bottom-left">Obtenir les coordonnées des autres utilisateurs</td>
	  			<td><span class="glyphicon glyphicon-remove title-red glyphicon-big"></span></td>
	  			<td><span class="glyphicon glyphicon-remove title-red glyphicon-big"></span></td>
	  			<td class="border-right"><span class="glyphicon glyphicon-ok title-green glyphicon-big radius-bottom-right"></span></td>
	  		</tr>
	  		<tr>
	  			<td colspan="4" class="text-center">
		  			<button type="submit" class="btn btn-color btn-brown margin-top-little">
	                	<span class="glyphicon glyphicon-bookmark"></span> Devenir premium <!-- lien vers la page pour devenir premium-->
	                </button>
	  			</td>
	  		</tr>
	  	</tbody>  	
	  </table>
	  </div>
</div>
{% endblock %}