{% extends "base.html" %}
{% load helpers %}

{% block title %}Une vie de famille - Tout sur la garde d'enfants{% endblock %}

{% block content %}
<div class="row little-margin tool-page">
    <div class="col-md-2 side-bar">
        <ul class="nav nav-stacked" data-spy="affix" data-offset-top="0">
            {% for kind, kind_name in kinds.items %}
            <li class="link"><a href="#{{ kind }}">{{ kind_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <section class="col-md-10 margin-top-little">
        {% for kind, tool_file_list in tool_files.items %}
        <div class="row">
            <article id="{{ kind }}">
                <header class="tool-category"><h3>{{ kinds|key:kind }}</h3></header>
                <div class="list-group">
                    {% for tool in tool_file_list %}
                        <div class="col-md-3 margin-left-little margin-top-little border-tool">
                            <div class="col-md-12">
                                <div class="row heading-tool">
                                    <h4 class="list-group-item-heading">{{ tool.name }}</h4>
                                    <p class="list-group-item-text">
                                        {{ tool.description }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-2">
                                <div class="row link-tool">
                                    <p class="text-white"><a href="{{ tool.file_content.url }}" target="_blank">
                                        <span class="glyphicon glyphicon-eye-open"></span> Consulter
                                    </a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </article>
        </div>
        {% endfor %}
    </section> -->
</div>
{% endblock %}

{% block script %}
<script>
(function ($) {
    if (location.hash) {
        $(".nav-stacked li:has(a[href="+ location.hash +"])").addClass("active");
    }
    else {
        $(".nav-stacked li:first").addClass("active");
    }

    $(".link").click(function (e) {
        $(".link").removeClass("active");
        $(this).addClass("active");
    });
})(jQuery);
</script>
{% endblock %}
