{% extends "base.html" %}
{% load helpers %}
{% load staticfiles %}
{% load static %}

{% block title %}Une vie de famille - Tout sur la garde d'enfants{% endblock %}

{% block content %}
{% with plan=request.user|plan auth=user.is_authenticated %}
<div class="row little-margin tool-page">
    <div class="col-md-2 side-bar">
        <ul class="nav nav-stacked" data-spy="affix" data-offset-top="0">
            {% for kind, kind_name in kinds %}
            <li class="link"><a href="#{{ kind }}">{{ kind_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <section class="col-md-10 margin-top-little">
        {% for kind, kind_name in kinds %}
        <div class="row">
            <article id="{{ kind }}">
                <header class="tool-category"><h3>{{ kind_name }}</h3></header>
                <div class="list-group">
                    {% for tool in tool_files|key:kind %}
                        <div class="row">
                            <div class="col-md-10 margin-left-little margin-top-little border-tool">
                                <div class="col-md-7">
                                    <h4 class="list-group-item-heading text-left">{{ tool.name }}</h4>
                                    <p class="list-group-item-text">
                                        {{ tool.description }}
                                    </p>
                                </div>
                                <div class="col-md-2">
                                        {% if not auth %}
                                        <button class="btn btn-color btn-green-min text-white margin-top-little"
                                                data-toggle="popover" data-trigger="click"
                                                data-title="Fonctionalité indisponible"
                                                data-content="<p>Inscrivez-vous gratuitement pour accéder à plus de fonctionnalités.</p><p><a href='{% url 'register' %}' class='btn btn-color btn-green-min'>M'inscrire gratuitement</a></p>"
                                                data-placement="bottom" data-html="true">
                                            <span class="glyphicon glyphicon-eye-open"></span> Consulter
                                        </button>
                                        {% else %}
                                        <a href="{% get_media_prefix %}{{ tool.file_content.name }}" target="_blank"
                                           class="btn btn-color btn-green-min text-white margin-top-little">
                                            <span class="glyphicon glyphicon-eye-open"></span> Consulter
                                        </a>
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </article>
        </div>
        {% endfor %}
    </section>
</div>
{% endwith %}
{% endblock %}

{% block script %}
<script>
(function ($) {
    $('[data-toggle="popover"]').popover();

    $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });

    if (location.hash) {
        $(".nav-stacked li:has(a[href="+ location.hash +"])").addClass("active");
    }
    else {
        $(".nav-stacked li:first").addClass("active");
    }

    $(".link").click(function (e) {
        $(".link").removeClass("active");
        $(this).addClass("active");
    });
})(jQuery);
</script>
{% endblock %}
