{% load bootstrap3 %}

{% if rating_form %}
<div id="ratings">
    {% block ratingButton %}
    <button type="button" class="btn btn-color btn-blue-min btn-block popover-rating"
            data-title="Noter {{ profile.get_pseudo }}" data-toggle="popover" data-placement="bottom"
            data-container=".popover-rating-container" data-html="true">
        <span class="glyphicon glyphicon-stats"></span> Noter
    </button>
    {% endblock %}
    {% block popoverContainer %}
    <div class="popover-rating-container"></div>
    {% endblock %}
    <div class="hide rating-form">
        <form class="form-horizontal form-rating">
            {% for field in rating_form %}
                <div class="form-group">
                    {% if field.html_name != "by" %}
                        {% bootstrap_label field.label_tag %}
                    {% endif %}
                    {{ field|safe }}
                </div>
            {% endfor %}
            <button type="button" class="btn btn-color btn-green-min submit-rating">Valider</button>
        </form>
    </div>
</div>
{% else %}
{% block noRating %}
<button type="button" class="btn btn-color btn-blue-min btn-block disabled">
    <span class="glyphicon glyphicon-stats"></span> Noter
</button>
{% endblock %}
{% endif %}
