{% load bootstrap3 %}

{% if rating_form %}
<div id="ratings">
    {% block ratingButton %}
    <button type="button" class="btn btn-color btn-brown-min btn-block popover-rating"
            data-title="Noter {{ profile.get_pseudo }}" data-toggle="popover" data-placement="bottom"
            data-container=".popover-rating-container" data-html="true">
        <span class="glyphicon glyphicon-stats"></span> Noter
    </button>
    {% endblock %}
    {% block popoverContainer %}
    <div class="popover-rating-container"></div>
    {% endblock %}
    <div class="hide rating-form">
        <form class="form-horizontal form-rating">
            <div class="form-group">
                {% bootstrap_label rating_form.c.label_tag %}
                {{ rating_form.c|safe }}
            </div>
            <div class="form-group">
                {% bootstrap_label rating_form.a.label_tag %}
                {{ rating_form.a|safe }}
            </div>
            <div class="form-group">
                {% bootstrap_label rating_form.b.label_tag %}
                {{ rating_form.b|safe }}
            </div>
            <div class="form-group">
                {% bootstrap_label rating_form.d.label_tag %}
                {{ rating_form.d|safe }}
            </div>
            {{ rating_form.by|safe }}
            <button type="button" class="btn btn-color btn-green-min submit-rating">Valider</button>
        </form>
    </div>
</div>
{% else %}
{% block noRating %}
<button type="button" class="btn btn-color btn-brown-min btn-block disabled">
    <span class="glyphicon glyphicon-stats"></span> Noter
</button>
{% endblock %}
{% endif %}
