<!-- Social connect button -->
<div class="btn-group {{ class }}">
     <button type="button" class="btn btn-default btn-primary dropdown-toggle" data-toggle="dropdown">
         Se connecter avec les réseaux sociaux <span class="caret"></span>
     </button>
     <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'social:begin' 'google' %}?next=/{{ action }}/google/{{ type }}/"
               class="social-link">Google</a></li>
        <!-- TODO: create apps on those networks -->
        <li><a href="{% url 'social:begin' 'google' %}?next=/{{ action }}/linkedin/{{ type }}/"
               class="social-link">LinkedIn</a></li>
        <li><a href="{% url 'social:begin' 'google' %}?next=/{{ action }}/facebook/{{ type }}/" 
               class="social-link">Facebook</a></li>
        <li><a href="{% url 'social:begin' 'google' %}?next=/{{ action }}/twitter/{{ type }}/" 
               class="social-link">Twitter</a></li>
    </ul>
</div>