{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load helpers %}
{% load users %}

{% block title %} - Recherche{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "lib/select2/select2.css" %}" media="all"/>
<link rel="stylesheet" href="{% static "lib/select2/select2-bootstrap.css" %}" media="all"/>
<link rel="stylesheet" href="{% static "lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" %}" media="all"/>
{% endblock %}

{% block content %}

<!-- Contact modal -->
<div class="modal fade" id="authentificate" tabindex="-1"
  role="dialog" aria-labelledby="authentificate" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="authentificate">
                  Vous n'êtes pas connecté<br/>
                  <small>Vous allez accéder aux fonctionnalités réduites de la recherche.<br>Pour pouvoir utiliser tous les paramètres, et ainsi répondre à votre besoin avec plus de précision, créez gratuitement un compte</small>
              </h4>
          </div>
          <div class="modal-body text-center">
            <img src="{% static "img/flechette.png" %}" width="70%">
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Poursuivre sans créer de compte</button>
              <a href='{% url 'register' %}' type="button" class="btn btn-color btn-blue-min">Créer un compte gratuit</a>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="be-premium" tabindex="-1"
  role="dialog" aria-labelledby="be-premium" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="be-premium">
                  Vous n'êtes pas Premium<br/>
                  <small>Vous pouvez dès à présent éffectuer des recherches...<br>Cependant, pour pouvoir entrer en contact avec les autres utilisateurs et pour être référencé auprès des autres utilisateurs, vous devez devenir membre premium.</small>
              </h4>
          </div>
          <div class="modal-body text-center">
            <img src="{% static "img/premium.png" %}" width="70%">
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Poursuivre sans être Premium</button>
              <a href='{% url 'premium' %}' type="button" class="btn btn-color btn-blue-min">Devenir Premium</a>
          </div>
      </div>
  </div>
</div>

<div class="row search-view">
    <div class="col-md-3 col-md-offset-1">
            <h3>Vous recherchez...</h3>
            <div class="btn-group search-header">
                {% if search_type == "famille" %}
                <button type="button" class="btn btn-default choose-search" data-search="prestataire">Un prestataire</button>
                <button type="button" class="btn btn-color btn-blue-min active">Une famille</button>
                {% else %}
                <button type="button" class="btn btn-color btn-green-min active">Un prestataire</button>
                <button type="button" class="btn btn-default choose-search" data-search="famille">Une famille</button>
                {% endif %}
            </div>
            {% block form %}{% endblock %}
    </div>

    <div class="col-md-6 col-md-offset-1 margin-top-r">
        <div class="row">
            <div class="col-md-4">
                <h3>
                    <span class="total-search-results">{{ total_search_results }}</span>
                    Résultat<span class="plural-search-result">s</span>
                </h3>
            </div>
            <div class="col-md-3">
                <form class="form form-horizontal">
                    <div class="form-group">
                        <label for="search-sort">Classer par</label>
                        <select id="search-sort" class="form-control search-sort">
                            {% for key, name in ordering.items %}
                                <option value="{{ key }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-5 pagination-sm pull-right small">
                <ul class="pager">
                    <li class="previous disabled"><a href="#">&larr; Précédents</a></li>
                    {% if total_search_results > max_nb_search_results %}
                    <li class="next">
                    {% else %}
                    <li class= "next disabled">
                    {% endif %}
                        <a href="#">Suivants &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
        {% if total_search_results < 10 %}
        <div class="well col-md-12">
          <div class="col-md-9">
              <b>Vous ne trouvez pas de résultat proche de chez vous ? </b><br>
              Pour garder notre esprit de confiance et de proximité, "Une vie de famille" se développe progressivement dans chaque ville en partenariat avec les acteurs locaux.
              Faites nous connaitre vos attentes pour accélérer le développement dans votre ville.
          </div>
          <div class="col-md-3 text-center">
              <img class="margin-top-r" src="{% static "img/dev-local.png" %}" width="100%">
          </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="no-results" {% if total_search_results %}style="display:none;"{% endif %}>
                    Aucun résultats ne correspond 100% à vos critères de recherche.
                </div>
                <div class="search-results">
                    {% for result in results %}
                    {% include result_template with result=result user=user search_type=search_type only %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="hidden favorite-list">
            {% for favorite in favorites %}
            <div class="favorited-item" data-id="{{ favorite.object_id }}" data-type="{{ favorite.object_type }}"></div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-offset-7 col-md-5 pagination-sm small">
                <ul class="pager">
                    <li class="previous disabled"><a href="#">&larr; Précédents</a></li>
                    {% if total_search_results > max_nb_search_results %}
                    <li class="next">
                    {% else %}
                    <li class= "next disabled">
                    {% endif %}
                        <a href="#">Suivants &rarr;</a>
                    </li>
                </ul>
            </div>
            <div class="hidden">
                <div class="empty-result-template">
                {% include result_template only %}
                </div>
            </div>
            <input type="hidden" class="max-nb-search-results" value="{{ max_nb_search_results }}"/>
            <input type="hidden" class="total-nb-search-results" value="{{ total_search_results }}"/>
            <input type="hidden" class="search-type" value="{{ search_type }}"/>
            <input type="hidden" class="p-type" value="{{ user|plan }}"/>
            <div class="disabled-popover-content-not-logged hide">
                <p>
                    Vous vous appretez à acceder à la recherche personnalisée d’<em>Une vie de famille</em>.
                    N’étant pas inscrit, vous ne pourrez pas profiter de l’ensemble des fonctionnalités d’
                    <em>Une vie de famille</em>
                </p>
                <p><a href="{% url 'register' %}" class="btn btn-color btn-green-min">M'inscrire gratuitement</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static "lib/backbone/backbone-min.js" %}"></script>
<script src="{% static "lib/moment/min/moment.min.js" %}"></script>
<script src="{% static "lib/select2/select2.min.js" %}"></script>
<script>
    {% if not user.is_authenticated %}
    $('#authentificate').modal({
      show: true
    });
    {% else %}
    $("select").select2();
    window._auth = true;
    {% if user|plan == "basic" %}
    $('#be-premium').modal({
      show: true
    });
    {% endif %}
    {% endif %}
</script>
<script src="{% static "lib/bootstrap3-datetimepicker/src/js/bootstrap-datetimepicker.js" %}"></script>
<script src="{% static "lib/bootstrap3-datetimepicker/src/js/locales/bootstrap-datetimepicker.fr.js" %}"></script>
<script src="{% static "lib/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js" %}"></script>
<script src="{% static "js/build/search.js" %}"></script>
{% endblock %}
