{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %} - Recherche{% endblock %}
{% block extrahead %}
<link rel="stylesheet" href="{% static "lib/select2/select2.css" %}" media="all"/>
<link rel="stylesheet" href="{% static "lib/select2/select2-bootstrap.css" %}" media="all"/>
<link rel="stylesheet" href="{% static "lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" %}" media="all"/>
{% endblock %}

{% block content %}
<div class="row search-view">
    <div class="col-md-3 col-md-offset-1">
            <h3>Vous recherchez...</h3>
            <div class="btn-group search-header">
                {% if search_type == "famille" %}
                <button type="button" class="btn btn-default choose-search" data-search="prestataire">Un prestataire</button>
                <button type="button" class="btn btn-color btn-blue-min active">Une famille</button>
                {% else %}
                <button type="button" class="btn btn-color btn-green-min active">Un prestataire</button>
                <button type="button" class="btn btn-default choose-search" data-search="famille">Une famille</button>
                {% endif %}
            </div>
            {% block form %}{% endblock %}
    </div>
    <div class="col-md-6 col-md-offset-1 margin-top-r">
        <div class="row">
            <div class="col-md-4">
                <h3>
                    <span class="total-search-results">{{ total_search_results }}</span>
                    Résultat<span class="plural-search-result">s</span>
                </h3>
            </div>
            <div class="col-md-3">
                <form class="form form-horizontal">
                    <div class="form-group">
                        <label for="search-sort">Classer par</label>
                        <select id="search-sort" class="form-control search-sort">
                            {% for key, name in ordering.items %}
                                <option value="{{ key }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-md-5 pagination-sm pull-right small">
                <ul class="pager">
                    <li class="previous disabled"><a href="#">&larr; Précédents</a></li>
                    {% if total_search_results > max_nb_search_results %}
                    <li class="next">
                    {% else %}
                    <li class= "next disabled">
                    {% endif %}
                        <a href="#">Suivants &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="no-results" {% if total_search_results %}style="display:none;"{% endif %}>
                    Aucun résultats ne correspond 100% à vos critères de recherche.
                    Peut-être que votre recherche est trop stricte ?
                </div>
                <div class="search-results">
                    {% for result in results %}
                    {% include result_template with result=result user=user search_type=search_type only %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="hidden favorite-list">
            {% for favorite in favorites %}
            <div class="favorited-item" data-id="{{ favorite.object_id }}" data-type="{{ favorite.object_type }}"></div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-offset-7 col-md-5 pagination-sm small">
                <ul class="pager">
                    <li class="previous disabled"><a href="#">&larr; Précédents</a></li>
                    {% if total_search_results > max_nb_search_results %}
                    <li class="next">
                    {% else %}
                    <li class= "next disabled">
                    {% endif %}
                        <a href="#">Suivants &rarr;</a>
                    </li>
                </ul>
            </div>
            <div class="hidden">
                <div class="empty-result-template">
                {% include result_template only %}
                </div>
            </div>
            <input type="hidden" class="max-nb-search-results" value="{{ max_nb_search_results }}"/>
            <input type="hidden" class="total-nb-search-results" value="{{ total_nb_search_results }}"/>
            <input type="hidden" class="search-type" value="{{ search_type }}"/>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% if user.is_authenticated %}
<script>
    window._auth = true;
</script>
{% endif %}
<script src="{% static "lib/underscore/underscore-min.js" %}"></script>
<script src="{% static "lib/backbone/backbone-min.js" %}"></script>
<script src="{% static "lib/select2/select2.min.js" %}"></script>
<script src="{% static "lib/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js" %}"></script>
<script src="{% static "js/build/search.js" %}"></script>
{% endblock %}
