{% extends "search/base.html" %}
{% load bootstrap3 %}
{% load helpers %}

{% block form %}
<div class="panel-group" id="accordion">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c-general">
                    Informations générales
                </a>
            </h4>
        </div>
        <div id="c-general" class="panel-collapse collapse in">
            <div class="panel-body">
                <form class="form form-search">
                    {% bootstrap_field search_form.pc %}
                    {% if request.user|has_related %}
                        {% buttons %}
                        <div class="btn-group btn-group-distance">
                            <button type="button" class="btn btn-primary control-distance" data-distance="10">
                                <i class="glyphicon glyphicon-map-marker"></i> Près de chez moi
                            </button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Choisir une distance</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" data-distance="10">&le; 10km</a></li>
                                <li><a href="#" data-distance="20">&le; 20km</a></li>
                                <li><a href="#" data-distance="50">&le; 50km</a></li>
                            </ul>
                        </div>
                        {% endbuttons %}
                        {% bootstrap_field search_form.distance %}
                    {% endif %}
                    {% block formbox1 %}
                    {% bootstrap_field search_form.type %}
                    {% bootstrap_field search_form.type_garde %}
                    <div class="form-group">
                        {% bootstrap_label search_form.tarif.label %}<br/>
                        <b>3€</b>
                        {{ search_form.tarif }}
                        <b>20€</b>
                    </div>
                    {% bootstrap_field search_form.plannings__weekday__id %}
                    {% bootstrap_field search_form.plannings__schedule__id %}
                    {% bootstrap_field search_form.plannings__frequency %}
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>
    {% for block in search_form.search_blocks %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c-{{ block.key }}">
                    {{ block.label }}
                </a>
            </h4>
        </div>
        <div id="c-{{ block.key }}" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form form-search">
                {% for field_name in block.fields %}
                    {% bootstrap_field search_form|get_form_field:field_name %}
                {% endfor %}
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
