{% extends "search/base.html" %}
{% load bootstrap3 %}
{% load helpers %}

{% block form %}
<div class="panel-group" id="accordion">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c-classic">
                    Critères classiques
                </a>
            </h4>
        </div>
        <div id="c-classic" class="panel-collapse collapse in">
            <div class="panel-body">
                <form class="form form-search">
                    {% bootstrap_field search_form.pc %}
                    {% if request.user|has_related %}
                        {% buttons %}
                        <div class="btn-group btn-group-distance">
                            <button type="button" class="btn btn-primary control-distance" data-distance="10">
                                <i class="glyphicon glyphicon-map-marker"></i> Près de chez moi
                            </button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Choisir une distance</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" data-distance="10">&le; 10km</a></li>
                                <li><a href="#" data-distance="20">&le; 20km</a></li>
                                <li><a href="#" data-distance="50">&le; 50km</a></li>
                            </ul>
                        </div>
                        {% endbuttons %}
                        {% bootstrap_field search_form.distance %}
                    {% endif %}
                    <div class="form-group">
                        {% bootstrap_label search_form.tarif.label %}<br/>
                        <b>5€</b>
                        {{ search_form.tarif }}
                        <b>100€</b>
                    </div>
                    {% bootstrap_field search_form.plannings__weekday__id %}
                    {% bootstrap_field search_form.plannings__schedule__id %}
                    {% bootstrap_field search_form.plannings__frequency %}
                    {% bootstrap_field search_form.type_garde %}
                    {% bootstrap_field search_form.diploma %}
                    {% bootstrap_field search_form.language %}
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c-plus">
                    Plus de critères
                </a>
            </h4>
        </div>
        <div id="c-plus" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form form-search">
                    {% bootstrap_field search_form.cdt_periscolaire %}
                    {% bootstrap_field search_form.sortie_ecole %}
                    {% bootstrap_field search_form.baby %}
                    {% bootstrap_field search_form.devoirs %}
                    {% bootstrap_field search_form.menage %}
                    {% bootstrap_field search_form.repassage %}
                </form>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#c-other">
                    Autres critères
                </a>
            </h4>
        </div>
        <div id="c-other" class="panel-collapse collapse">
            <div class="panel-body">
                <form class="form form-search">
                    {% bootstrap_field search_form.permis %}
                    {% bootstrap_field search_form.urgence %}
                    {% bootstrap_field search_form.psc1 %}
                    {% bootstrap_field search_form.nuit %}
                    {% bootstrap_field search_form.non_fumeur %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
