{% extends "profile/base.html" %}
{% load static %}
{% load staticfiles %}
{% load static %}
{% load helpers %}
{% load users %}

{% block subtitle %}
    <h2>
    {% if profile.get_age %}
      {{ profile.get_age }} ans
    {% endif %}
    <small>
      {{ profile.get_type.upper }}
    </small>
    </h2>
{% endblock %}

{% block extra-header %}
{% if profile.resume %}
<a class="btn btn-color btn-brown-min btn-block" href="{% get_media_prefix %}{{ profile.resume }}" target="_blank">
    <span class="glyphicon glyphicon-file"></span> CV
</a>
{% else %}
<em>Cet utilisateur n'a pas encore renseigné son CV</em>
{% endif %}
{% endblock %}

{% block contentBlock1 %}  <!-- infos générales -->
    <h5  class="title-profil"><span class="glyphicon glyphicon-list-alt"></span> Informations générales</h5>
    <div class="form-group">
        <p><a class="label-profil"> Type de garde:</a> {% multi_display profile.type_garde "type_garde" %}</p>
    </div>
    <div class="form-group">
        <p><a class="label-profil"> Tarif:</a> {{ profile.tarif|display_tarif }} €/h</p>
    </div>
{% endblock %}

{% block block3Title %}<span class="glyphicon glyphicon-check"></span> Mes compétences{% endblock %}

{% block contentBlock4 %}  <!-- petits plus -->
            <h5  class="title-profil"><span class="glyphicon glyphicon-plus"></span> Mes p'tits plus</h5>
            <div class="row">
                <div class="col-md-3 text-center">
                    <div class="row">
                        <img src="{% static profile|badge_icon:'repassage' %}" width="60px">
                    </div>
                    <div class="row">
                        J'accepte de faire du repassage
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="row">
                        <img src="{% static profile|badge_icon:'menage' %}" width="60px">
                    </div>
                    <div class="row">
                        J'accepte de faire du ménage
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="row">
                        <img src="{% static profile|badge_icon:'non_fumeur' %}" width="60px">
                    </div>
                    <div class="row">
                        Je ne fume pas
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="row">
                        <img src="{% static profile|badge_icon:'cuisine' %}" width="60px">
                    </div>
                    <div class="row">
                        Je sais cuisiner
                    </div>
                </div>
            </div>
            <div class="row margin-top-little">
                <div class="col-md-3 text-center">
                    <div class="row">
                        <img src="{% static profile|badge_icon:'enfant_malade' %}" width="60px">
                    </div>
                    <div class="row">
                        Je m'occupe d'enfants handicapés
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="row">
                        <img src="{% static profile|badge_icon:'animaux' %}" width="60px">
                    </div>
                    <div class="row">
                        Je m'occupe de vos animaux
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="row">
                        <img src="{% static profile|badge_icon:'psc1' %}" width="60px">
                    </div>
                    <div class="row">
                        Formation aux premiers secours
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="row">
                        <img class=none"" src="{% static profile|badge_icon:'devoirs' %}" width="60px">
                    </div>
                    <div class="row">
                        J'aide vos enfants dans leur devoirs
                    </div>
                </div>
            </div>
            <div class="row margin-top-little">
                <div class="col-md-3 text-center">
                    <div class="row">
                        <img class=none"" src="{% static profile|badge_icon:'permis' %}" width="60px">
                    </div>
                    <div class="row">
                        J'ai une voiture
                    </div>
                </div>
            </div>
            {% endblock %}

{% block block5Title %}Plus de détails sur moi{% endblock %}

{% block contentBlock6 %}  <!-- references -->
<h5  class="title-profil"><span class="glyphicon glyphicon-comment"></span> Mes références</h5>
{% for reference in profile.references.all %}
<div class="row">
    <div class="col-md-8">
        <h5>Avec la famille {{ reference.get_famille_display }} <small>{{ reference.get_dates_display }}</small></h5>
        {% if reference.garde != "Autre" %}
        <p>Garde de type {{ reference.get_garde_display }}</p>
        {% endif %}
        <p>Mission(s) éffectuée(s):</p>
        <p>{{ reference.missions }}</p>
    </div>
</div>
{% empty %}
<p>Cette utilisateur n'a pas encore rempli ses références.</p>
{% endfor %}
{% endblock %}

{% block extra %}
<span data-field="resource_uri" class="hidden">/api/v1/prestataires/{{ profile.pk }}/</span>
{% endblock %}
