{% extends "profile/base.html" %}

{% block subtitle %}
    <h2>
    {% if profile.get_age %}
      {{ profile.get_age }} ans
    {% endif %}
    <small>
      {{ profile.get_type.upper }}
    </small>
    </h2>
{% endblock %}

{% block contentBlock1 %}  <!-- infos générales -->
    <h5>Informations générales</h5>
    <div class="form-group">
        <p>Type de garde: {% if profile.type_garde %}{{ profile.get_type_garde_display }}{% else %}--{% endif %}</p>
    </div>
    <div class="form-group">
        <p>Tarif: {% if profile.tarif %}{{ profile.tarif|floatformat:"0" }}{% else %}--{% endif %} €/h</p>
    </div>
{% endblock %}
{% block block3Title %}Mes compétences{% endblock %}
{% block contentBlock4 %}{% endblock %}  <!-- petits plus -->
{% block block5Title %}Plus de détails sur moi{% endblock %}
{% block contentBlock6 %}{% endblock %}  <!-- references -->