.margin-top-little {
    margin-top: 15px;
}

.margin-top-0 {
    margin-top: 30px;
}

.margin-top-1 {
    margin-top: 50px;
}

.margin-top-2 {
    margin-top: 100px;
}

.margin-bottom-0 {
    margin-bottom: 30px;
}

.modal-thin {
    max-width: 400px;
}

.add-child:hover, .remove-child:hover {
    cursor: pointer;
}

.slider {
    width: 100%;
}

.little-margin {
    margin: 2px;
}

.favorite-icon:hover {
    cursor: pointer;
}

.min-height {
    min-height: 300px;
}

.min-height-little {
    min-height: 150px;
}

.search-header {
    margin-bottom: 20px;
}

.popover-rating-container .popover-content {
    padding: 15px 60px;
}

.popover-rating-container .popover {
    max-width: none;
}

.star-control {
    cursor: pointer;
}

.quatre {
    font-size: 150px;
    color: dimgrey;
}

.nav>li>a>img.small-pic {
    max-width: 20px;
}
