{% extends "password_reset/base.html" %}
{% load url from future %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load static %}

{% block title %}Mot de passe oublié ?{% endblock %}

{% block content %}
<div class="row"><div class="col-md-offset-2 col-md-7 margin-top-little">
    <h4 class="text-left">Mot de passe oublié ?</h4>
	<form method="post" class="form-horizontal col-md-7" action="{{ url }}">
		{% csrf_token %}
        <div class="form-group">
		    <label for="id_username_or_email" class="col-sm-3">Email</label>
            <div class="col-sm-6">
                <input class="form-control" id="id_username_or_email" name="username_or_email"
                       placeholder="Email" required title="Email" type="text">
            </div>
        </div>
        {% buttons %}
		    <input type="submit" class="btn btn-color btn-blue-min" value="Récupérer mon mot de passe">
        {% endbuttons %}
	</form>
</div></div>
{% endblock %}
