{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Connexion{% endblock %}

{% block content %}
{% url 'auth_login' as login_url %}
<div class="row connex">
    <div class="row margin-top-med">
        <div class="col-md-12 text-center">
            <h1>{% block h1 %}Connexion{% endblock %}</h1>
        </div>
    </div>
<div class="row">
    <div class="col-md-offset-1 col-md-5 divider-right">
        <form action="{% block action %}{{ login_url }}{% endblock %}" method="post" class="form-horizontal" role="form">
            <h4>{% block h2 %}Connexion manuelle{% endblock %}</h4>
            {% csrf_token %}
            {% block form %}
                {% bootstrap_form form layout="horizontal" field_class="col-md-5" label_class="col-md-4" %}
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-6">
                        <a href="{% url "password_reset_recover" %}">Mot de passe oublié ?</a>
                    </div>
                </div>
            {% endblock %}
            {% block cgu %}{% endblock %}
            <div class="form-group">
                <div class="col-md-2 col-md-offset-4">
                    <input type="submit" class="btn btn-green-min btn-color" value="Connexion"/>
                </div>
            </div>
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% else %}
            <input type="hidden" name="next" value="/mon-compte/" />
            {% endif %}
        </form>
    </div>
    <div class="col-md-5">
        <form class="form-horizontal" role="form">
            <h4>{% block h2bis %}Connexion via les réseaux sociaux{% endblock %}</h4>
            <div class="form-group">
                <div class="radio col-md-2 col-md-offset-4">
                    <label>
                        <input type="radio" name="social_type" id="id_type_famille" value="famille" checked>
                        Famille
                    </label>
                </div>
                <div class="radio col-md-2">
                    <label>
                        <input type="radio" name="social_type" id="id_type_prestataire" value="prestataire">
                        Prestataire
                    </label>
                </div>
            </div>
            {% block cgu2 %}{% endblock %}
            {% block social_auth %}
                {% buttons %}
                    {% with action="register" type="famille" class="col-md-offset-3"%}
                        {% include 'helpers/social_auth.html' %}
                    {% endwith %}
                {% endbuttons %}
            {% endblock %}
        </form>
    </div>
</div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static "js/register.js" %}"></script>
{% endblock %}
