{% extends "registration/login.html" %}
{% load staticfiles %}
{% load static %}
{% load bootstrap3 %}

{% block title %}Je créé mon compte{% endblock %}

{% block h1 %}Je créée mon compte{% endblock %}
{% block h2 %}Enregistrement manuel{% endblock %}
{% block h2bis %}Enregistrement via les réseaux sociaux{% endblock %}
{% block action %}{% url "register" %}{% endblock %}

{% block form %}
    {% bootstrap_form form layout="horizontal" field_class="col-md-5" label_class="col-md-4" %}
    <div class="form-group">
        <div class="radio col-md-2 col-md-offset-2">
            <label>
                <input type="radio" name="type" id="id_type_famille" value="famille" checked>
                Famille
            </label>
        </div>
        <div class="radio col-md-2">
            <label>
                <input type="radio" name="type" id="id_type_prestataire" value="prestataire">
                Prestataire
            </label>
        </div>
    </div>
{% endblock %}

{% block cgu %}
<div class="form-group">
    <em>
        En créant mon compte, j'accepte les
        <a href="{% get_media_prefix %}miscellaneous/CGU.pdf">conditions générales d'utilisation</a>
        du site Une vie de famille.
    </em>
</div>
{% endblock %}

{% block cgu2 %}
<div class="form-group">
    <em>
        En créant mon compte, j'accepte les
        <a href="{% get_media_prefix %}miscellaneous/CGU.pdf">conditions générales d'utilisation</a>
        du site Une vie de famille.
    </em>
</div>
{% endblock %}

{% block social_auth %}
    {% buttons %}
        {% with action="register" type="famille" class="col-md-offset-2" %}
            {% include 'helpers/social_auth.html' %}
        {% endwith %}
    {% endbuttons %}
{% endblock %}

{% block script %}
    <script src="{% static "js/register.js" %}"></script>
{% endblock %}
